# Применяем авто CRLF для всех текстовых файлов
* text=auto

# Оставляем LF для всех файлов в папках Browsers и Drivers (например, для кросс-платформенных бинарных файлов)
Browsers/* text eol=lf
Drivers/* text eol=lf

# Специфичные настройки для файлов в папке .idea
.idea/* text eol=lf
